
.header_div{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: white;
    z-index: 5;
}
.header_div>div{
    width: 100%;
    position: relative;
}
.header_div>div>img{
    width: 160px;
    margin-left: 20px;
    display: inline-block;
}
.header_div>div>div{
    display: inline-block;
}
.navbar{
    position: absolute;
    right: 40px;
    text-align: right;
}
.navbar>ul>li{
    display: inline-block;
    margin-left: 10px;
    font-size: 21px;
}
.navbar>ul>li>a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 3px 35px;
    border-radius: 25px;
    transition: all .5s;
}
.navbar>ul>li>a:hover{
    color: red;
    font-size: 18px;
}
.openbtn,.closebtn{
    display: none;
}
@media only screen and (max-width: 920px) and (min-width: 280px) {
    .header_div{
        width: 100%;
        position: relative;
    }
    .navbar>ul{
        display: block;
    }
    .header_div>div{
        padding-top: 20px;
        background-color: white;
        width: 100%;
        position: relative;
    }
    .header_div>div>img{
        width: 160px;
        margin-left: 25px;
        display: inline-block;
    }
    .openbtn{
        display: block;
        font-size: 30px;
        color: black;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .closebtn{
        display: block;
        color: white;
    }
    .navbar{
        position: absolute;
        width: 100%;
        top: 5px;
        left: 10px;
        text-align: center;
        background-color: rgb(108, 188, 192);
        border-radius: 25px;
        padding-bottom: 50px;
    }
    .navbar>ul>li>a{
        color: white;
        border: 1px solid white;
    }
    #menu{
        display: none;
    }
    .navbar>div{
        width: 100%;
        text-align: right;
    }
    .navbar>div>i{
        font-size: 40px;
        margin-right: 30px;
    }
    .navbar>ul>li{
        display:block;
        margin-left: 0px;
        margin-top:15px;
        font-size: 17px;
    }
    .open_menu{
        position: absolute;
    }
}
.content_heding{
    color: black;
    font-size: 1.8rem;
    display: inline-block;
    font-family: 'Open Sans Pro', sans-serif;
    font-weight: bold;
}
.content_heding::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right , white, black);
}
/* //bootstrap */


.content-box>div{
    width: 100%;
}
.content-heading{
    font-size: 1.3em; 
    width: 100%; 
    text-align: center;
    font-weight: bold;
    word-break: normal;
}
/* boot end  */
.home_div {
    margin-top: 3px;
    width: 100%;
    height: 240px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_div>div>h1 {
    width: 95%;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Open Sans Pro', sans-serif;
    background: url(https://i.pinimg.com/originals/17/96/ef/1796ef0033df2a1bb61b02d731541119.gif);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
}
.Rural{
    font-size: 4.5rem;
    font-style: bold;
    
}
.about_div {
    display: flex;
    justify-content: center;
    width: 98%;
    text-align: center;
    margin-top: 20px;
}

.about_div>div {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: var(--back); */
    background-color: white;
    border-radius: 7px;
}
.about_div>div>div>p {
    font-size: 1.1em;
    text-align: justify;
    padding: 20px 10px 50px 20px;
    font-weight:600;
}

